<!-- app/views/restaurants/new.html.erb -->
<h1 class="my-4">New Restaurant</h1>
<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category, collection: ['chinese', 'italian', 'japanese', 'french', 'belgian'] %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Back to Restaurant List', restaurants_path, class: 'btn btn-secondary mt-3' %>
